name: Trigger auto deployment for ca-webapi-pug-demo

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/ca-webapi-pug-demo-AutoDeployTrigger-591edd9e-43eb-46cb-8215-b0b36b1fc39c.yml'

  # Allow mannually trigger 
  workflow_dispatch:      

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to container registry
        uses: docker/login-action@v1
        with:
          registry: ca08a89a5c70acr.azurecr.io
          username: ${{ secrets.CAWEBAPIPUGDEMO_REGISTRY_USERNAME }}
          password: ${{ secrets.CAWEBAPIPUGDEMO_REGISTRY_PASSWORD }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ca08a89a5c70acr.azurecr.io/ca-webapi-pug-demo:${{ github.sha }}
          file: ./Dockerfile
          context: ./


  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.CAWEBAPIPUGDEMO_AZURE_CREDENTIALS }}


      - name: Deploy to containerapp
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az config set extension.use_dynamic_install=yes_without_prompt
            az containerapp registry set -n ca-webapi-pug-demo -g rg-pug-meetup --server ca08a89a5c70acr.azurecr.io --username  ${{ secrets.CAWEBAPIPUGDEMO_REGISTRY_USERNAME }} --password ${{ secrets.CAWEBAPIPUGDEMO_REGISTRY_PASSWORD }}
            az containerapp update -n ca-webapi-pug-demo -g rg-pug-meetup --image ca08a89a5c70acr.azurecr.io/ca-webapi-pug-demo:${{ github.sha }}
